@import 'assets/global-styles/font.scss';
@import 'assets/global-styles/colors.scss';
@import 'assets/global-styles/position.scss';

/**
styles for texts global
*/
:root{
    label,h1,h2,h3{
        margin: 0%;
    }
    font-family: 'Nunito Regular';
    color: var(--color-green-2);  

    }