
<app-edit-book></app-edit-book>
<app-feedback [description]="'Record successfully created.'" [message]="'Record successfully created.'" [url]="'assets/images/journals.svg'"></app-feedback>

<div id="bookList" style=" justify-content:space-around; z-index: 0; text-align: center; display:flex;flex-direction: column;"> 
    <div id="search" class="d-flex w-100 ">
        <div class="d-flex justify-content-lg-start placeholder w-75 bg-transparent">
            <h2 class="text-success " style="padding-left: 3%;">Book display</h2>
        </div> 
        <form class="d-flex justify-content-end placeholder w-25 bg-transparent" role="search">
            <input class="form-control me-2 border-success " type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success" type="submit"(click)="filter($event)">Search</button>
        </form> 
    </div>
   


    <section id="listBooks" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">


    @for( book of booksFiltered(); track book.id; let idx = $index, e = $even ){
    <div class="card pb-0 " style="width: 18rem; margin: 20px;"  >
        <div style="height: 65%; width: auto;display: flex; justify-content: center;">
            <img [src]="book.imageLink" class="card-img-top" alt="image cover of the book"style="height: auto; width:100%;">
        </div>
    
        <div class="card-body bg-success bg-opacity-25" style="height: 50;">

        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.author}} </p>
        <p class="card-text">{{book.pages}} páginas. Ano de {{book.year}}</p>
        <p><a [href]="book.link" style="cursor: pointer; padding-bottom: 5px;" ><label > Saiba mais</label></a> </p>
                
    
            <div class="d-flex justify-content-sm-between ">
                <i class="bi bi-bag" style="cursor: pointer;" (click)="booking(book)">
                    <svg id="booking" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                </i>
                
                <i class="bi bi-pencil-square" style="cursor: pointer;" (click)="editBook(book)" data-bs-toggle="modal" data-bs-target="#modalBook" data-bs-whatever="@mdo">
                    <svg id="edit"  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </i>
                <i class="bi bi-trash3" style="cursor: pointer;" (click)="deleteBook(book)">
                    <svg id="del" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </i>
            </div>
                            


    </div>
    </div>
    } 

</section>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>




