#booking{
   fill: #0d6efd
}
#edit{
  fill: #198754
  }
#del{
  fill: #fd7e14
 }
    


#bookList{
    display: flex; 
    justify-content: center;
}

.modalBook{
    position: relative;
    bottom: 00px;
    left: -100%; /* Esconde a caixa fora da tela à esquerda */
    width: 300px; /* Defina a largura da caixa */
    height: 300px;
    background-color: #f4f4f4; /* Cor de fundo da caixa */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-out; /* Animação suave ao abrir */
    // transition: max-width ease 0.6s;
    z-index: 1000; /* Certifica-se de que a caixa fique acima de outros elementos */
    &.opened{
        left: 500px;
        transform: translateX(100%); 
    }
    
}

