#booking{
   fill: #0d6efd
}
#edit{
  fill: #198754
  }
#del{
  fill: #fd7e14
 }
    


#bookList{
    display: flex; 
    justify-content: center;
}
.search{
  padding-left:2.5%
}

.back{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;  
}

.box_search_btn{
  display: flex;
  justify-content: space-between;
  width: 900px;
  .btn{
    width: 200px
  }
}

.blocked{
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}



