@font-face {
  font-family: 'Nunito Regular';
  src: url('../fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito Extralight';
    src: url('../fonts/Nunito/static/Nunito-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito Light';
    src: url('../fonts/Nunito/static/Nunito-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Motserrat Regular';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Motserrat Light';
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}